<!-- Display Form Data HTML -->

<div id="formDataDisplay"></div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    // Retrieve form data from session storage
      var formDataJSON = localStorage.getItem('formData');
      if (formDataJSON) {
        var formData = JSON.parse(formDataJSON);
        var formDataHTML = '<h2>Form Data:</h2>';
        formDataHTML += '<ul>';
        formDataHTML += '<li><strong>Name:</strong> ' + formData.name + '</li>';
        formDataHTML += '<li><strong>Email:</strong> ' + formData.email + '</li>';
        formDataHTML += '<li><strong>Message:</strong> ' + formData.message + '</li>';
        formDataHTML += '</ul>';
        formDataDisplay.innerHTML = formDataHTML;
      }
  });
</script>
